<!DOCTYPE html>
<html lang="es">
<head>
    <title>Presupuesto N° <%= presupuesto.id %></title>
    <%- include('../partials/head') %>
</head>
<body>
    <main class="detail">
        <%- include('../partials/header') %>
        <section class="sectionD">
            <article class="fechaId">
                <p><%= presupuesto.fechaPresupuesto  %></p>
                <p>Presupuesto N° <%= presupuesto.id  %></p>
                <a href="/admin/editar/<%= presupuesto.id %>"><i class="fas fa-wrench"></i></a>
            </article>
            <table class="tablaInfo">
                <thead>
                    <tr>
                        <th>Datos del cliente</th>
                    </tr>
                </thead>
                <tbody class="cuerpoInfo">
                    <tr>
                        <td class="infoCliente"><b>Nombre:</b> <%= presupuesto.nombreCliente %></td>
                    </tr>
                    <tr>
                        <td class="infoCliente"><b>Dirección:</b> <%= presupuesto.direccionCliente %></td>
                    </tr>
                    <tr>
                        <td class="infoCliente"><b>Teléfono:</b> <%= presupuesto.telefonoCliente %></td>
                    </tr>
                </tbody>
            </table>
            <article class="fechaGarantia">
                <p><b>Fecha de presupuesto:</b> <%= presupuesto.fechaPresupuesto %></p>
                <p><b>Garantía:</b> <%= presupuesto.garantia %> días</p>
            </article>
            <table class="tablaTrabajos">
                <thead class="encabezadoTrabajos">
                    <tr>
                        <th class="tituloTrabajo">Trabajos</th>
                        <th class="tituloPrecio">Precio</th>
                    </tr>
                </thead>
                <tbody class="cuerpoTrabajos">
                    <tr>
                        <td class="trabajos">
                            <%= trabajosCliente.trabajo0 %>
                        </td>
                        <td class="precio">
                            <%= trabajosCliente.precio0 %>
                        </td>
                    </tr>
                    <% if (trabajosCliente.trabajo1) { %>
                        <tr>
                            <td class="trabajos">
                                <%= trabajosCliente.trabajo1 %>
                            </td>
                            <td class="precio">
                                <%= trabajosCliente.precio1 %>
                            </td>
                        </tr>
                    <% } %>
                    <% if (trabajosCliente.trabajo2) { %>
                        <tr>
                            <td class="trabajos">
                                <%= trabajosCliente.trabajo2 %>
                            </td>
                            <td class="precio">
                                <%= trabajosCliente.precio2 %>
                            </td>
                        </tr>
                    <% } %>
                    <% if (trabajosCliente.trabajo3) { %>
                        <tr>
                            <td class="trabajos">
                                <%= trabajosCliente.trabajo3 %>
                            </td>
                            <td class="precio">
                                <%= trabajosCliente.precio3 %>
                            </td>
                        </tr>
                    <% } %>
                    <% if (trabajosCliente.trabajo4) { %>
                        <tr>
                            <td class="trabajos">
                                <%= trabajosCliente.trabajo4 %>
                            </td>
                            <td class="precio">
                                <%= trabajosCliente.precio4 %>
                            </td>
                        </tr>
                    <% } %>
                    <% if (trabajosCliente.trabajo5) { %>
                        <tr>
                            <td class="trabajos">
                                <%= trabajosCliente.trabajo5 %>
                            </td>
                            <td class="precio">
                                <%= trabajosCliente.precio5 %>
                            </td>
                        </tr>
                    <% } %>
                    <% if (trabajosCliente.trabajo6) { %>
                        <tr>
                            <td class="trabajos">
                                <%= trabajosCliente.trabajo6 %>
                            </td>
                            <td class="precio">
                                <%= trabajosCliente.precio6 %>
                            </td>
                        </tr>
                    <% } %>
                    <% if (trabajosCliente.trabajo7) { %>
                        <tr>
                            <td class="trabajos">
                                <%= trabajosCliente.trabajo7 %>
                            </td>
                            <td class="precio">
                                <%= trabajosCliente.precio7 %>
                            </td>
                        </tr>
                    <% } %>
                    <% if (trabajosCliente.trabajo8) { %>
                        <tr>
                            <td class="trabajos">
                                <%= trabajosCliente.trabajo8 %>
                            </td>
                            <td class="precio">
                                <%= trabajosCliente.precio8 %>
                            </td>
                        </tr>
                    <% } %>
                    <% if (trabajosCliente.trabajo9) { %>
                        <tr>
                            <td class="trabajos">
                                <%= trabajosCliente.trabajo9 %>
                            </td>
                            <td class="precio">
                                <%= trabajosCliente.precio9 %>
                            </td>
                        </tr>
                    <% } %>
                    <% if (trabajosCliente.trabajo10) { %>
                        <tr>
                            <td class="trabajos">
                                <%= trabajosCliente.trabajo10 %>
                            </td>
                            <td class="precio">
                                <%= trabajosCliente.precio10 %>
                            </td>
                        </tr>
                    <% } %>
                    <% if (trabajosCliente.trabajo11) { %>
                        <tr>
                            <td class="trabajos">
                                <%= trabajosCliente.trabajo11 %>
                            </td>
                            <td class="precio">
                                <%= trabajosCliente.precio11 %>
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
            <article class="artTotal">
                <p>Total:</p>
                <p>$ <%= presupuesto.precioTrabajoTotal %></p>
            </article>
            <% if (presupuesto.descripcion != 0) { %>
                <article class="descripcion">
                    <h4>Descripción</h4>
                    <p><%= presupuesto.descripcion %></p>
                </article>
            <% } %>
            <% if (presupuesto.palabraClave != 0) { %>
                <article class="palabraClave">
                    <h4><b>Palabra clave:</b> <%= presupuesto.palabraClave %></h4>
                </article>
            <% } %>
        </section>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>