<!DOCTYPE html>
<html>
  <head>
    <title>Presupuestos BreakR</title>
    <%- include('./partials/head') %> 
  </head>
  <body>
    <main class="home">
      <%- include('./partials/header') %> 
      <section class="sectionPresupuestos">
        <div class="divPresupuestos">
          <%  presupuestos.forEach(presupuesto => { %> 
            <article class="tarjetaP">
              <div class="idFechaBox">
                <p><%= presupuesto.id %></p>
                <p><%= presupuesto.fechaPresupuesto %></p>
              </div>
              <div class="infoP">
                <p><b>Cliente:</b> <%= presupuesto.nombreCliente %></p>
                <p><b>Teléfono:</b> <%= presupuesto.telefonoCliente %></p>
                <p><b>Clave:</b> <%= presupuesto.palabraClave %></p>
                <a href="/presupuesto/<%= presupuesto.id %>">Ver</a>
              </div>
              <div class="precio">
                <p>$ <%= presupuesto.precioTrabajoTotal %></p>
              </div>
            </article>
          <% }) %> 
        </div>
      </section>
    </main>
    <%- include('./partials/footer') %>
  </body>
  <script src="../../javascripts/general.js"></script>
</html>
