<!DOCTYPE html>
<html>
  <head>
    <title>Presupuestos BreakR</title>
    <%- include('./partials/head') %> 
  </head>
  <body>
    <main class="home">
      <%- include('./partials/header') %> 
      <section class="sectionPresupuestos">
        <div class="divPresupuestos">
          <%  clientes.forEach(cliente => { %> 
            <article class="tarjetaP">
              <div class="idFechaBox">
                <p><%= cliente.id %></p>
                <p><%= cliente.fechaPresupuesto %></p>
              </div>
              <div class="infoP">
                <p><b>Cliente:</b> <%= cliente.nombreCliente %></p>
                <p><b>Teléfono:</b> <%= cliente.telefonoCliente %></p>
                <p><b>Clave:</b> <%= cliente.palabraClave %></p>
                <a href="/presupuesto/<%= cliente.id %>">Ver</a>
              </div>
              <div class="precio">
                <p>$ <%= cliente.precioTrabajoTotal %></p>
              </div>
            </article>
          <% }) %> 
        </div>
      </section>
    </main>
    <%- include('./partials/footer') %>
  </body>
  <script src="../../javascripts/general.js"></script>
</html>
