<!DOCTYPE html>
<html lang="es">
<head>
    <title>Editar presupuesto</title>
    <%- include('../partials/head') %>
</head>
<body>
    <main class="editar">
        <%- include('../partials/header') %>
        <section class="container">
            <h1>Editar presupuesto N° <%= presupuesto.id %></h1>
            <p>nombre del cliente: <%= presupuesto.nombreCliente %></p>
            <% for( let i = 0; i < trabajosCliente.length; i++ ) { %>
                <p><%= trabajosCliente[i].trabajo %></p>
            <% } %>
        </section>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>