<!DOCTYPE html>
<html lang="es">
<head>
    <title>Iniciar sesión</title>
    <%- include('../partials/head') %>
</head>
<body>
    <main class="login">
        <%- include('../partials/header') %>
        <section class="container">
            <div class="divContainer">
                <h1>Iniciar sesión</h1>
                <form action="/user/login" method="POST">
                    <div class="divDatos">
                        <input type="text" name="usuario" class="inputUser" placeholder="Usuario" 
                        <% if (locals.oldData && locals.oldData.usuario) { %>
                            value="<%= locals.oldData.usuario %>"
                        <% } %>
                        >
                        <% if (locals.errors && errors.usuario) { %>
                            <small class="errors"><%= errors.usuario.msg %></small>
                        <% } %>
                        <div class="divContraseña">
                            <input type="password" name="contraseña" class="inputUser" placeholder="Contraseña" id="inputContraseña">
                            <i class="ojitoAct fas fa-eye-slash" id="ocultarContraseña"></i>
                            <i class="ojitoDes fas fa-eye" id="verContraseña"></i>
                        </div>
                        <% if (locals.errors && errors.contraseña) { %>
                            <small class="errors"><%= errors.contraseña.msg %></small>
                        <% } %>
                        
                    </div>
                    <div class="divRecordarme">
                        <input type="checkbox" id="recordarme" name="recordarme" value="recordarme">
                        <label for="recordarme">Recordarme</label>
                    </div>
                    <% if (locals.errorLogin) { %>
                        <small class="errors"><%= errorLogin %></small>
                    <% } %>
                    <button type="submit">Ingresar</button>
                </form>
            </div>
        </section>
    </main>
    <%- include('../partials/footer') %>
</body>
<script src="../../../javascripts/general.js"></script>
<script src="../../../javascripts/login.js"></script>
</html>