<!DOCTYPE html>
<html lang="es">
<head>
    <title>Presupuesto N° <%= presupuesto.id %></title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script>
    <%- include('../partials/head') %>
</head>
<body onload="document.body.style.visibility=`visible`;">
    <main class="detail" id="presupuestoPDF">
        <%- include('../partials/header') %>
        <section class="sectionD">
            <article class="fechaId">
                <p><%= presupuesto.fechaPresupuesto  %></p>
                <p id="nPresupuestoId">Presupuesto Nro <%= presupuesto.nPresupuesto  %></p>
                <a href="/admin/editar/<%= presupuesto.id %>"><i class="fas fa-wrench"></i></a>
            </article>
            <table class="tablaInfo">
                <thead>
                    <tr>
                        <th>Datos del cliente</th>
                    </tr>
                </thead>
                <tbody class="cuerpoInfo">
                    <tr>
                        <td class="infoCliente" id="nombreClienteId"><b>Nombre:</b> <%= presupuesto.nombreCliente === "" ? " - " : presupuesto.nombreCliente %></td>
                    </tr>
                    <tr>
                        <td class="infoCliente"><b>Dirección:</b> <%= presupuesto.direccionCliente === "" ? " - " : presupuesto.direccionCliente %></td>
                    </tr>
                    <tr>
                        <td class="infoCliente"><b>Teléfono:</b> <%= presupuesto.telefonoCliente == 0 ? " - " : presupuesto.telefonoCliente %></td>
                    </tr>
                </tbody>
            </table>
            <article class="fechaGarantia">
                <p><b>Fecha de presupuesto:</b> <%= presupuesto.fechaPresupuesto %></p>
                <p><b>Garantía:</b> <%= presupuesto.garantia === "" ? " - " : presupuesto.garantia %> </p>
            </article>
            <table class="tablaTrabajos">
                <thead class="encabezadoTrabajos">
                    <tr>
                        <th class="tituloTrabajo">Trabajos</th>
                        <th class="tituloPrecio">Precio</th>
                    </tr>
                </thead>
                <tbody class="cuerpoTrabajos">
                    <tr>
                        <td class="trabajos">
                            <%= presupuesto.trabajo0 %>
                        </td>
                        <td class="precio">
                            <%= presupuesto.precio0 %>
                        </td>
                    </tr>
                    <% if (presupuesto.descripcion0) { %>
                        <tr>
                            <td class="trabajos">
                                <%= presupuesto.descripcion0 %>
                            </td>
                        </tr>
                    <% } %>
                    <% if (presupuesto.trabajo1 != "" || presupuesto.precio1 != 0) { %>
                        <tr>
                            <td class="trabajos">
                                <%= presupuesto.trabajo1 %>
                            </td>
                            <td class="precio">
                                <%= presupuesto.precio1 %>
                            </td>
                        </tr>
                        <% if (presupuesto.descripcion1) { %>
                            <tr>
                                <td class="trabajos">
                                    <%= presupuesto.descripcion1 %>
                                </td>
                            </tr>
                        <% } %>
                    <% } %>
                    <% if (presupuesto.trabajo2 != "" || presupuesto.precio2 != 0) { %>
                        <tr>
                            <td class="trabajos">
                                <%= presupuesto.trabajo2 %>
                            </td>
                            <td class="precio">
                                <%= presupuesto.precio2 %>
                            </td>
                        </tr>
                        <% if (presupuesto.descripcion2) { %>
                            <tr>
                                <td class="trabajos">
                                    <%= presupuesto.descripcion2 %>
                                </td>
                            </tr>
                        <% } %>
                    <% } %>
                    <% if (presupuesto.trabajo3 != "" || presupuesto.precio3 != 0) { %>
                        <tr>
                            <td class="trabajos">
                                <%= presupuesto.trabajo3 %>
                            </td>
                            <td class="precio">
                                <%= presupuesto.precio3 %>
                            </td>
                        </tr>
                        <% if (presupuesto.descripcion3) { %>
                            <tr>
                                <td class="trabajos">
                                    <%= presupuesto.descripcion3 %>
                                </td>
                            </tr>
                        <% } %>
                    <% } %>
                    <% if (presupuesto.trabajo4 != "" || presupuesto.precio4 != 0) { %>
                        <tr>
                            <td class="trabajos">
                                <%= presupuesto.trabajo4 %>
                            </td>
                            <td class="precio">
                                <%= presupuesto.precio4 %>
                            </td>
                        </tr>
                        <% if (presupuesto.descripcion4) { %>
                            <tr>
                                <td class="trabajos">
                                    <%= presupuesto.descripcion4 %>
                                </td>
                            </tr>
                        <% } %>
                    <% } %>
                    <% if (presupuesto.trabajo5 != "" || presupuesto.precio5 != 0) { %>
                        <tr>
                            <td class="trabajos">
                                <%= presupuesto.trabajo5 %>
                            </td>
                            <td class="precio">
                                <%= presupuesto.precio5 %>
                            </td>
                        </tr>
                        <% if (presupuesto.descripcion5) { %>
                            <tr>
                                <td class="trabajos">
                                    <%= presupuesto.descripcion5 %>
                                </td>
                            </tr>
                        <% } %>
                    <% } %>
                    <% if (presupuesto.trabajo6 != "" || presupuesto.precio6 != 0) { %>
                        <tr>
                            <td class="trabajos">
                                <%= presupuesto.trabajo6 %>
                            </td>
                            <td class="precio">
                                <%= presupuesto.precio6 %>
                            </td>
                        </tr>
                        <% if (presupuesto.descripcion6) { %>
                            <tr>
                                <td class="trabajos">
                                    <%= presupuesto.descripcion6 %>
                                </td>
                            </tr>
                        <% } %>
                    <% } %>
                    <% if (presupuesto.trabajo7 != "" || presupuesto.precio7 != 0) { %>
                        <tr>
                            <td class="trabajos">
                                <%= presupuesto.trabajo7 %>
                            </td>
                            <td class="precio">
                                <%= presupuesto.precio7 %>
                            </td>
                        </tr>
                        <% if (presupuesto.descripcion7) { %>
                            <tr>
                                <td class="trabajos">
                                    <%= presupuesto.descripcion7 %>
                                </td>
                            </tr>
                        <% } %>
                    <% } %>
                    <% if (presupuesto.trabajo8 != "" || presupuesto.precio8 != 0) { %>
                        <tr>
                            <td class="trabajos">
                                <%= presupuesto.trabajo8 %>
                            </td>
                            <td class="precio">
                                <%= presupuesto.precio8 %>
                            </td>
                        </tr>
                        <% if (presupuesto.descripcion8) { %>
                            <tr>
                                <td class="trabajos">
                                    <%= presupuesto.descripcion8 %>
                                </td>
                            </tr>
                        <% } %>
                    <% } %>
                    <% if (presupuesto.trabajo9 != "" || presupuesto.precio9 != 0) { %>
                        <tr>
                            <td class="trabajos">
                                <%= presupuesto.trabajo9 %>
                            </td>
                            <td class="precio">
                                <%= presupuesto.precio9 %>
                            </td>
                        </tr>
                        <% if (presupuesto.descripcion9) { %>
                            <tr>
                                <td class="trabajos">
                                    <%= presupuesto.descripcion9 %>
                                </td>
                            </tr>
                        <% } %>
                    <% } %>
                    <% if (presupuesto.trabajo10 != "" || presupuesto.precio10 != 0) { %>
                        <tr>
                            <td class="trabajos">
                                <%= presupuesto.trabajo10 %>
                            </td>
                            <td class="precio">
                                <%= presupuesto.precio10 %>
                            </td>
                        </tr>
                        <% if (presupuesto.descripcion10) { %>
                            <tr>
                                <td class="trabajos">
                                    <%= presupuesto.descripcion10 %>
                                </td>
                            </tr>
                        <% } %>
                    <% } %>
                    <% if (presupuesto.trabajo11 != "" || presupuesto.precio11 != 0) { %>
                        <tr>
                            <td class="trabajos">
                                <%= presupuesto.trabajo11 %>
                            </td>
                            <td class="precio">
                                <%= presupuesto.precio11 %>
                            </td>
                        </tr>
                        <% if (presupuesto.descripcion11) { %>
                            <tr>
                                <td class="trabajos">
                                    <%= presupuesto.descripcion11 %>
                                </td>
                            </tr>
                        <% } %>
                    <% } %>
                </tbody>
            </table>
            <article class="artTotal">
                <p>Total:</p>
                <p>$ <%= toThousand(presupuesto.precioTrabajoTotal) %></p>
            </article>
            <% if (presupuesto.descripcion != "") { %>
                <article class="descripcion">
                    <h4>Descripción</h4>
                    <p><%= presupuesto.descripcion %></p>
                </article>
            <% } %>
            <% if (presupuesto.clave != "") { %>
                <article class="palabraClave">
                    <h4><b>Palabra clave:</b> <%= presupuesto.clave %></h4>
                </article>
            <% } %>
        </section>
        <div class="divBttn">
            <button class="descargarBttn" id="bttnDescargar">Descargar   <i class="fas fa-file-download"></i></button>
        </div>
    </main>
    <%- include('../partials/footer') %>
</body>
<script>document.body.style.visibility=`hidden`;</script>
<script src="../../../javascripts/general.js"></script>
<script src="../../../javascripts/descargarPDF.js"></script>
</html>